@use '../../styles/variable.scss' as *;

.tabs {
	margin: 30px 0 0 0;

	// headder
	&__header {}

	&__menu {
		display: flex;
	}

	&__item {
		cursor: pointer;
		font-weight: 600;
		padding: 0 45px 24px;
		display: flex;
		justify-content: center;
		transition: 0.3s linear;

		&:hover {
			color: $primary;
		}

		&.active {
			position: relative;

			&:hover {
				color: $black;
			}

			&::before {
				content: "";
				width: 90%;
				height: 2px;
				background-color: $black;
				position: absolute;
				bottom: 0;
			}
		}
	}


	// content

	&__container {}

	&__content {
		&.active {
			display: block;
		}

		padding: 70px 0 0 0;
		display: none;
	}

}