@use '../../assets/variable.scss' as *;

.userComponent {
	background-color: $primary;
	font-weight: 600;
	line-height: 34px;
	padding: 18px 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #FFF;

	.iconUserName {
		background: $primary2;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 6px 11px;
	}

	.userName {
		padding: 0 0 0 16px;
	}
}