@use './variable.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kaushan+Script&family=Montserrat:wght@700&display=swap');
@import './nullStyle.scss';

body {
	font-family: 'Inter';
	font-style: normal;
	color: #313037;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	background-color: $extralight;
}

.container {
	max-width: 1200px;
	padding: 0 40px;
	margin: 0 auto;
	box-sizing: border-box;
}

@media screen and (max-width: 420px) {
	.container {
		padding: 0 24px;
	}
}

.container1920 {
	max-width: 1920px;
	margin: 0 auto;
	box-sizing: border-box;
}

#root {
	overflow: hidden;
}

.dark {
	background-color: $black;
	color: $white;

	.button.like,
	.button.dislike {
		svg path {
			fill: $white;
		}
	}

	.post .post__title {
		color: $white;
	}

	.tabs .tabs__item.active {
		&:hover {
			color: $white;
		}

		&::before {
			background-color: $white;
		}
	}
}

// 	// .link {
// 	// 	color: $white;
// 	// }
// }

.light {
	background-color: $extralight;
	color: $black;
}