@use '../../styles/variable.scss' as *;


.input {
	&:focus {
		outline: 2px solid $medium;
	}

	&.error {
		border: 2px solid $error;
	}

	border-radius: 2px;
	font-size: 16px;
	line-height: 20px;
	padding: 18px 20px;
	width: 100%;
}

.fields {

	textarea {
		&.large-input {
			height: 245px;
		}

		resize: none;
		height: 100px;
	}


	.field {
		&:not(:last-child) {
			margin: 0 0 40px 0;
		}

		&-label {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 8px 0;
		}

		&-input {}
	}
}

@media screen and (max-width: 320px) {
	.field:not(:last-child) {
		margin: 0 0 32px 0;
	}
}