@use '../../styles/variable.scss' as *;

.button {
	// max-width: 300px;
	transition: 0.3s ease all;
	padding: 16px 32px;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	cursor: pointer;

	&.like {
		padding: 0 10px 0 0;

		&.liked {
			svg path {
				fill: $primary;
			}
		}
	}

	&.dislike {
		padding: 0 10px 0 30px;

		&.disliked {
			svg path {
				fill: $error;
			}
		}
	}

	// &.like {
	// 	background: url('../../assets/images/Up-black.svg') center no-repeat;

	// 	&.like--hover:enabled:hover {
	// 		background-color: $primary2;
	// 		background-image: url('../../assets/images/Up-white.svg');
	// 	}
	// }

	// &.dislike {
	// 	background: url('../../assets/images/Down-black.svg') center no-repeat;

	// 	&.dislike--hover:enabled:hover {
	// 		background-color: $error;
	// 		background-image: url('../../assets/images/Down-white.svg');
	// 	}
	// }

	&.primary {
		&:enabled:hover {
			background-color: $primary2;
		}

		color: $white;
		background: $primary;
		border-radius: 2px;
	}

	&.secondary {
		&:enabled:hover {
			background-color: $medium;
		}

		color: $black;
		background: $light;
	}

	&.secondary2 {
		&:enabled:hover {
			border: $medium 1px solid;
		}

		&.disabled {
			background-color: transparent;
		}

		color: $error;
		border: transparent 1px solid;
		background-color: transparent;
	}

	&.disabled {
		background-color: $light;
		color: $gray;
	}
}