@use '../../styles/variable.scss' as *;

.post {
	.button {
		&.like {
			padding: 0 10px 0 0;
		}

		&.dislike {
			padding: 0 10px 0 30px;
		}
	}
}

.single-post {
	.button {
		background-color: $light;

		&.like.liked {
			background-color: $primary;

			svg path {
				fill: $white;
			}
		}

		&.dislike.disliked {
			background-color: $error;

			svg path {
				fill: $white;
			}
		}
	}
}

.button {
	// max-width: 300px;
	transition: 0.3s ease all;
	padding: 16px 32px;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;

	&.like {
		&.liked {
			svg path {
				fill: $primary;
			}
		}
	}

	&.dislike {
		&.disliked {
			svg path {
				fill: $error;
			}
		}
	}

	&.primary {
		&:enabled:hover {
			background-color: $primary2;
		}

		color: $white;
		background: $primary;
		border-radius: 2px;
	}

	&.secondary {
		&:enabled:hover {
			background-color: $medium;
		}

		color: $black;
		background: $light;
	}

	&.secondary2 {
		&:enabled:hover {
			border: $medium 1px solid;
		}

		&.disabled {
			background-color: transparent;
		}

		color: $error;
		border: transparent 1px solid;
		background-color: transparent;
	}

	&.disabled {
		background-color: $light;
		color: $gray;
	}
}