@use '../../styles/variable.scss' as *;

.postContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 226px);

	grid-column-gap: 30px;
	grid-row-gap: 20px;
}

.post {
	margin: 0 0 30px 0;
	border-bottom: $medium 2px solid;
	padding: 0 0 15px 0;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		min-height: 100%;
	}

	&__info {
		padding: 0 32px 0 0;
		flex: 1 1 450px;
		font-size: 16px;
		color: $gray;

		.post__date {
			margin: 0 0 8px 0;
		}

		.post__title {
			transition: 0.3s ease;

			&:hover {
				color: $primary;
			}

			cursor: pointer;
			font-weight: 700;
			font-size: 32px;
			line-height: 44px;
			color: $black;
			margin: 0 0 24px 0;
		}

		.post__text {
			line-height: 28px;
		}
	}

	&__photo {
		flex: 0 0 256px;

		img {
			width: 256px;
			height: 244px;
			object-fit: cover;
			object-position: center;
		}
	}

	&__icons {
		align-self: flex-end;
		padding: 10px 0 0 0;
		flex: 0 0 100%;
		display: flex;
		justify-content: space-between;

		.post__icons-column {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.post__count {
				font-weight: 700;

				&.visible {
					visibility: visible;
				}

				&.hidden {
					visibility: hidden;
				}
			}

		}
	}

}

.post.post.post--big {
	grid-column: span 2;
	grid-row: span 2;
}

.post.post--medium {
	grid-row: span 2;

	.post__info {
		padding: 0;
		flex: 100%;

		.post__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 28px;

			margin: 0;
		}

		.post__text {
			display: none;
		}
	}

	.post__photo {
		order: -1;
		flex: 0 0 100%;
		margin: 0 0 20px 0;

		img {
			width: 100%;
			height: 246px;
		}
	}

}

.post.post--small {
	.post__inner {
		padding: 0;
	}

	.post__info {
		padding: 0;
		margin: 0 25px 0 0;
		flex: 1 0 225px;
		overflow: hidden;

		.post__title {
			cursor: pointer;
			font-weight: 600;
			font-size: 18px;
			line-height: 28px;
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.post__text {
			display: none;
		}
	}

	.post__photo {
		flex: 0 0 96px;

		img {
			width: 96px;
			height: 96px;
		}
	}

	.post__icons {

		padding: 10px 0 0 0;
	}
}