@use '../../styles/variable.scss' as *;

.sign-in {
	padding: 142px 0 150px 0;

	&__link {
		margin: 0 0 48px 0;
	}

	&__fields {
		margin: 0 0 16px 0;
	}
}

.sign-up {
	padding: 142px 0;

	&__fields {
		margin: 0 0 48px 0;
	}
}

.reset-password {
	padding: 142px 0 356px 0;

	&__fields {
		margin: 0 0 48px 0;
	}
}

.new-password {
	padding: 142px 0 224px 0;

	&__fields {
		margin: 0 0 48px 0;
	}
}

.reg-confirmation {
	padding: 142px 0 368px 0;

	&__text {
		margin: 0 0 48px 0;
	}
}

.activation {
	padding: 142px 0 150px 0;

	.error-label {
		margin: 0;
	}
}

.success {
	padding: 142px 0 392px 0;

	&__text {
		margin: 0 0 48px 0;
	}
}



.sign-up__button,
.sign-in__button,
.reset-password__button,
.new-password__button,
.reg-confirmation__button,
.success__button {
	margin: 0 0 24px 0;
	width: 100%;
}

.sign-in__title,
.sign-up__title,
.reset-password__title,
.new-password__title,
.reg-confirmation__title,
.success__title,
.activation__title {
	margin: 0 0 72px 0;
}



@media screen and (max-width: 768px) {

	.sign-in__title,
	.sign-up__title,
	.reset-password__title,
	.new-password__title,
	.reg-confirmation__title,
	.success__title,
	.activation__title {
		margin: 0 0 56px 0;
	}

	.sign-in {
		padding: 142px 0 112px 0;
	}

	.reset-password,
	.success {
		padding: 142px 0 316px 0;
	}

	.new-password {
		padding: 142px 0 184px 0;
	}

	.reg-confirmation {
		padding: 142px 0 248px 0;
	}

}

@media screen and (max-width: 420px) {
	.reg-confirmation__title {
		font-size: 32px;
		line-height: 48px;
	}
}

@media screen and (max-width: 320px) {

	.sign-in__title,
	.sign-up__title,
	.reset-password__title,
	.new-password__title,
	.reg-confirmation__title,
	.success__title,
	.activation__title {
		margin: 0 0 48px 0;
	}

	.sign-in,
	.sign-up,
	.reset-password,
	.new-password,
	.reg-confirmation,
	.success {
		padding: 116px 0;
	}

	.sign-in {
		&__link {
			margin: 0px 0 36px 0;
		}
	}

	.sign-up__fields,
	.reset-password__fields,
	.new-password__fields,
	.reg-confirmation__text,
	.success__text {
		margin: 0 0 36px 0;
	}
}









// -----------------------

.inner-box {

	padding: 40px;
	border: 1px solid $medium;
	max-width: 624px;
	margin: 0 auto;

	.link {
		&:hover {
			color: $primary;
		}

		color: $black;
		line-height: 20px;
		transition: 0.2s linear;
		display: inline-block;
	}

	.label-link {
		color: $gray;
		text-align: center;

		a {
			&:hover {
				color: rgb(64, 28, 126);
			}

			transition: 0.2s linear all;
			color: $primary;
		}
	}

	.text {
		text-align: justify;

		span {
			font-weight: 700;
		}
	}

	// .fields {
	// 	.field {
	// 		&:not(:last-child) {
	// 			margin: 0 0 40px 0;
	// 		}

	// 		&-label {
	// 			font-weight: 600;
	// 			font-size: 16px;
	// 			line-height: 20px;
	// 			margin: 0 0 8px 0;
	// 		}

	// 		&-input {}
	// 	}
	// }
}


@media screen and (max-width: 768px) {
	.inner-box {
		max-width: none;
	}
}

@media screen and (max-width: 420px) {
	.inner-box {
		padding: 25px;
	}
}

// @media screen and (max-width: 320px) {
// 	.field:not(:last-child) {
// 		margin: 0 0 32px 0;
// 	}
// }