@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kaushan+Script&family=Montserrat:wght@700&display=swap');
@import './nullStyle.scss';

body {
	font-family: 'Inter';
	font-style: normal;
	color: #313037;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	// background-color: #E5E5E5;
}